{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div>
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner" class="header  grid-container  grid-container--justified">
    <a href="/" class="logo">
      <!-- {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}">
      {% else %}
        {{ shop.name }}
      {% endif %} -->
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="206px" height="63px" viewBox="0 0 206 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Logo</title>
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Top-Nav-Copy-3" transform="translate(-20.000000, -19.000000)">
                  <g id="Logo" transform="translate(20.000000, 19.150754)">
                      <g id="Group-14">
                          <path d="M152.290671,47.5942254 C152.290671,51.0634924 152.372681,55.291364 150.377321,57.3246783 C148.870146,58.839983 146.915468,59.3986207 144.67537,59.3986207 L138.363187,59.3986207 L138.363187,36.4290893 L144.67537,36.4290893 C146.915468,36.4290893 148.870146,36.9864573 150.377321,38.5023969 C152.372681,40.5357111 152.290671,44.1249583 152.290671,47.5942254 L152.290671,47.5942254 Z M155.386385,47.5942254 C155.386385,43.6469422 155.549114,39.2997252 152.53541,36.3484677 C150.784788,34.6338309 148.218587,33.7171572 145.204883,33.7171572 L135.267473,33.7171572 L135.267473,62.1105528 L145.204883,62.1105528 C148.218587,62.1105528 150.784788,61.1926095 152.53541,59.4779726 C155.549114,56.5273499 155.386385,51.5427781 155.386385,47.5942254 L155.386385,47.5942254 Z M127.973754,62.1105528 L127.973754,33.7171572 L124.879332,33.7171572 L124.879332,56.4080046 L109.484064,33.7171572 L106.551724,33.7171572 L106.551724,62.1105528 L109.647438,62.1105528 L109.647438,39.3397186 L125.04206,62.1105528 L127.973754,62.1105528 Z" id="Fill-1" fill="#234766"></path>
                          <polygon id="Fill-3" fill="#54ADD3" points="88.4426031 33.7171572 78.137931 62.1105528 81.3238051 62.1105528 89.7415218 38.0637394 98.0382638 62.1105528 101.224138 62.1105528 90.959375 33.7171572"></polygon>
                          <polygon id="Fill-4" fill="#FFFFFE" points="18.6465517 34.6044508 16.9839805 34.6044508 14.1311594 46.0498934 10.9092979 34.6044508 9.51311591 34.6044508 6.29062463 46.0498934 3.4384333 34.6044508 1.77586207 34.6044508 5.51097948 48.8011486 6.96887812 48.8011486 10.210892 37.4355593 13.4541654 48.8011486 14.9114343 48.8011486"></polygon>
                          <polygon id="Fill-5" fill="#FFFFFE" points="31.0775862 48.8011486 31.0775862 47.445543 23.7251104 47.445543 23.7251104 42.3210222 29.9927139 42.3210222 29.9927139 40.9654166 23.7251104 40.9654166 23.7251104 35.9606706 31.0775862 35.9606706 31.0775862 34.6044508 22.1982759 34.6044508 22.1982759 48.8011486"></polygon>
                          <path d="M55.9396552,54.1890938 C55.9396552,51.8748966 55.1027249,49.9539943 53.5477035,48.6592425 C52.3517277,47.6391728 51.0356485,47.0910571 48.3649308,46.6983864 L45.2555201,46.2276811 C43.7801461,45.9929527 42.3054042,45.4429641 41.4280181,44.6982009 C40.5512641,43.9528134 40.1530269,42.8559576 40.1530269,41.483171 C40.1530269,38.3842568 42.3452279,36.3060366 46.132274,36.3060366 C49.1222136,36.3060366 50.9964569,37.1294588 52.750597,38.6988928 L54.7038556,36.7767419 C52.2720802,34.6198627 49.8801285,33.7171572 46.2523773,33.7171572 C40.6309116,33.7171572 37.1624552,36.8554009 37.1624552,41.6005352 C37.1624552,43.8354492 37.8799143,45.5609526 39.3148325,46.8157506 C40.5512641,47.8751498 42.3054042,48.5812078 44.538061,48.9339247 L47.8465903,49.4439595 C49.9199523,49.7573469 50.6374113,49.9933238 51.5546211,50.7767922 C52.4711988,51.5615092 52.9092597,52.8163073 52.9092597,54.2677528 C52.9092597,57.5221121 50.3580132,59.4436387 46.2125536,59.4436387 C43.0228633,59.4436387 40.8300302,58.6988755 38.4779022,56.3853025 L36.4051724,58.4248176 C39.0765223,61.0511536 41.8667111,62.1105528 46.132274,62.1105528 C52.0325058,62.1105528 55.9396552,59.0909218 55.9396552,54.1890938" id="Fill-6" fill="#234766"></path>
                          <polygon id="Fill-8" fill="#234766" points="59.4913793 33.7171572 59.4913793 36.4290893 67.7375372 36.4290893 67.7375372 62.1105528 70.7803389 62.1105528 70.7803389 36.4290893 79.0258621 36.4290893 79.0258621 33.7171572"></polygon>
                          <path d="M206,20.4715882 C206,18.1579136 205.149488,16.2363025 203.569231,14.9421181 C202.355131,13.9226278 201.017051,13.3732394 198.302992,12.9805515 L195.14312,12.5104497 C193.643803,12.2744624 192.144486,11.7256982 191.253503,10.9802779 C190.361236,10.235482 189.956536,9.13795362 189.956536,7.76510672 C189.956536,4.66605625 192.184956,2.5877446 196.03346,2.5877446 C199.073206,2.5877446 200.977224,3.41182732 202.759188,4.98070602 L204.744788,3.05847064 C202.272906,0.901496552 199.842779,0 196.155512,0 C190.443461,0 186.918717,3.13713308 186.918717,7.88247608 C186.918717,10.1174883 187.647819,11.8436919 189.106024,13.0979208 C190.361236,14.1573666 192.144486,14.8634556 194.413375,15.216188 L197.776239,15.7262452 C199.882606,16.0402707 200.612351,16.2750094 201.543804,17.0597609 C202.475256,17.8438881 202.921068,19.0993657 202.921068,20.5502507 C202.921068,23.8053774 200.327776,25.7263642 196.1144,25.7263642 C192.873588,25.7263642 190.645811,24.9815682 188.255512,22.6678936 L186.148502,24.7074983 C188.863204,27.3351984 191.699316,28.3933955 196.03346,28.3933955 C202.030086,28.3933955 206,25.3736318 206,20.4715882 L206,20.4715882 Z M177.036971,8.03917666 C177.036971,11.451004 174.647314,13.137252 171.28445,13.137252 L163.587442,13.137252 L163.587442,2.90177006 L171.28445,2.90177006 C174.647314,2.90177006 177.036971,4.62734934 177.036971,8.03917666 L177.036971,8.03917666 Z M180.68441,28.1586568 L173.837272,15.4908822 C177.564366,14.7460863 180.115903,12.0790549 180.115903,7.99984544 C180.115903,3.17584 176.592444,0.234738714 171.568382,0.234738714 L160.50851,0.234738714 L160.50851,28.1586568 L163.587442,28.1586568 L163.587442,15.7649522 L170.514235,15.7649522 L177.078726,28.1586568 L180.68441,28.1586568 Z M153.187295,28.1586568 L153.187295,25.4916255 L138.358573,25.4916255 L138.358573,15.4128441 L150.998703,15.4128441 L150.998703,12.7458127 L138.358573,12.7458127 L138.358573,2.90177006 L153.187295,2.90177006 L153.187295,0.234738714 L135.280284,0.234738714 L135.280284,28.1586568 L153.187295,28.1586568 Z M126.404507,28.1586568 L126.404507,0.234738714 L123.325575,0.234738714 L123.325575,12.7458127 L109.630656,12.7458127 L109.630656,0.234738714 L106.551724,0.234738714 L106.551724,28.1586568 L109.630656,28.1586568 L109.630656,15.4128441 L123.325575,15.4128441 L123.325575,28.1586568 L126.404507,28.1586568 Z" id="Fill-9" fill="#234766"></path>
                          <polygon id="Fill-11" fill="#54ADD3" points="101.224138 2.71193207 101.224138 0 79.0258621 0 79.0258621 2.71193207 88.5987531 2.71193207 88.5987531 28.3933955 91.6525212 28.3933955 91.6525212 2.71193207"></polygon>
                          <path d="M71.5008445,14.1966978 C71.5008445,20.0401934 71.2974281,21.9224733 69.4705434,23.7273393 C68.2120657,24.9815682 66.3858247,25.7263642 64.4771871,25.7263642 C62.5691933,25.7263642 60.7423086,24.9815682 59.4831872,23.7273393 C57.6563024,21.9224733 57.4535298,20.0401934 57.4535298,14.1966978 C57.4535298,8.35320212 57.6563024,6.47092227 59.4831872,4.66668056 C60.7423086,3.41182732 62.5691933,2.66578274 64.4771871,2.66578274 C66.3858247,2.66578274 68.2120657,3.41182732 69.4705434,4.66668056 C71.2974281,6.47092227 71.5008445,8.35320212 71.5008445,14.1966978 L71.5008445,14.1966978 Z M74.5862069,14.1966978 C74.5862069,8.27453968 74.5862069,5.5300945 71.8664789,2.90177006 C69.9172869,1.01886591 67.3597769,0 64.4771871,0 C61.5945973,0 59.0370874,1.01886591 57.0885391,2.90177006 C54.3681674,5.5300945 54.3681674,8.27453968 54.3681674,14.1966978 C54.3681674,20.1182316 54.3681674,22.8639254 57.0885391,25.4916255 C59.0370874,27.3745296 61.5945973,28.3933955 64.4771871,28.3933955 C67.3597769,28.3933955 69.9172869,27.3745296 71.8664789,25.4916255 C74.5862069,22.8639254 74.5862069,20.1182316 74.5862069,14.1966978 L74.5862069,14.1966978 Z M44.2436983,8.03917666 C44.2436983,11.4516283 41.8484065,13.137252 38.4785186,13.137252 L30.7647907,13.137252 L30.7647907,2.90177006 L38.4785186,2.90177006 C41.8484065,2.90177006 44.2436983,4.62734934 44.2436983,8.03917666 L44.2436983,8.03917666 Z M47.8974678,28.1586568 L41.0360285,15.4908822 C44.7715508,14.7460863 47.3290607,12.0790549 47.3290607,7.99984544 C47.3290607,3.17584 43.7969548,0.234738714 38.763044,0.234738714 L27.6794282,0.234738714 L27.6794282,28.1586568 L30.7647907,28.1586568 L30.7647907,15.7655765 L37.7073389,15.7655765 L44.2842528,28.1586568 L47.8974678,28.1586568 Z M16.7670427,20.3542189 C16.7670427,23.491352 14.5339689,25.4916255 10.9613085,25.4916255 L3.08536244,25.4916255 L3.08536244,15.2555192 L10.9613085,15.2555192 C14.5339689,15.2555192 16.7670427,17.2164615 16.7670427,20.3542189 L16.7670427,20.3542189 Z M16.3202992,7.7257755 C16.3202992,11.0589404 13.8438983,12.5891122 10.6362286,12.5891122 L3.08536244,12.5891122 L3.08536244,2.90177006 L10.6362286,2.90177006 C13.8438983,2.90177006 16.3202992,4.39198632 16.3202992,7.7257755 L16.3202992,7.7257755 Z M19.8524051,20.4328813 C19.8524051,17.0990921 17.903213,14.7854175 15.1429305,13.8040099 C17.5787769,12.9418445 19.4056616,10.6281699 19.4056616,7.68644428 C19.4056616,3.01976373 15.9141102,0.234738714 10.8801994,0.234738714 L0,0.234738714 L0,28.1586568 L11.2451902,28.1586568 C16.3608537,28.1586568 19.8524051,25.4916255 19.8524051,20.4328813 L19.8524051,20.4328813 Z" id="Fill-12" fill="#234766"></path>
                      </g>
                      <polygon id="Fill-4" fill="#54ADD3" points="19.5344828 33.7171572 17.8724804 33.7171572 15.0189211 45.8775522 11.7970839 33.7171572 10.401192 33.7171572 7.17816679 45.8775522 4.32579542 33.7171572 2.6637931 33.7171572 6.39884333 48.8011486 7.85651083 48.8011486 11.0985439 36.7253711 14.341765 48.8011486 15.7982445 48.8011486"></polygon>
                      <polygon id="Fill-5" fill="#54ADD3" points="31.0775862 48.8011486 31.0775862 47.3603153 23.7250614 47.3603153 23.7250614 41.915805 29.9926731 41.915805 29.9926731 40.476198 23.7250614 40.476198 23.7250614 35.1592167 31.0775862 35.1592167 31.0775862 33.7171572 22.1982759 33.7171572 22.1982759 48.8011486"></polygon>
                  </g>
              </g>
          </g>
      </svg>
    </a>

    <div class="header__col">
      <div class="header__sub-col  header__sub-col--justified">
        <p class="spacing  header__shipping  nimbus">FREE UK SHIPPING</p>
        <div class="header__icons">
          <a href="#"  class="header__icon">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>ICON / SEARCH</title>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Top-Nav-Copy-3" transform="translate(-1042.000000, -19.000000)" stroke="#234766">
                        <g id="Group" transform="translate(1037.000000, 14.000000)">
                            <circle id="Oval" transform="translate(13.051609, 13.614649) rotate(-34.000000) translate(-13.051609, -13.614649) " cx="13.0516086" cy="13.6146489" r="7.5"></circle>
                            <line x1="18.5" y1="19.5" x2="23.5" y2="24.5" id="Line" stroke-linecap="square"></line>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
          <a href="#"  class="header__icon">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="11px" height="23px" viewBox="0 0 11 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>ICON / SEARCH Copy</title>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Top-Nav-Copy-3" transform="translate(-1096.000000, -18.000000)" fill="#234766">
                        <g id="Group" transform="translate(1087.000000, 14.000000)">
                            <rect id="Rectangle" x="14" y="5" width="1" height="9"></rect>
                            <rect id="Rectangle" x="9" y="4" width="11" height="1"></rect>
                            <polygon id="Path-2" points="14.0909091 15 14.9090909 15 19 27 18.1818182 27 14.5 16.7142857 10.8181818 27 10 27"></polygon>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
          <a href="#"  class="header__icon">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="23px" height="19px" viewBox="0 0 23 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>ICON / SEARCH Copy 2</title>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Top-Nav-Copy-3" transform="translate(-1146.000000, -20.000000)" stroke="#234766">
                        <g id="Group" transform="translate(1142.000000, 14.000000)">
                            <path d="M4.65462519,14.5 L26.3453748,14.5 L23.6181021,24.5 L7.38189792,24.5 L4.65462519,14.5 Z" id="Rectangle" fill="#FFFFFF"></path>
                            <path d="M9,14 C8.66666667,9 10.8333333,6.5 15.5,6.5 C20.1666667,6.5 22.3333333,9 22,14" id="Path-3"></path>
                        </g>
                    </g>
                </g>
            </svg>
          </a>

        </div>
      </div>

      <div class="header__sub-col">
        <nav class="header__nav  nav" role="navigation">
          <ul class="nav__ul">
            <li class="nav__li">
              <a href="#" class="nav__a">
                mens clothing
              </a>
            </li>
            <li class="nav__li">
              <a href="#" class="nav__a">
                brands
              </a>
            </li>
            <li class="nav__li">
              <a href="#" class="nav__a">
                about
              </a>
            </li>
            <li class="nav__li">
              <a href="#" class="nav__a">
                blog
              </a>
            </li>
          </ul>
          
        </nav>
      </div>
      
    </div>

    <!-- <nav role="navigation" class="nav">
      <ul>
        {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
                {% render 'icon-arrow-down' %}
              </a>
              <ul>
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  
      <form action="/search" method="get" role="search">
        <label for="Search-{{ section.id }}" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
  
        <input type="search"
          name="q"
          id="Search-{{ section.id }}"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}">
  
        <button type="submit" class="button">
          {% render 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </nav> -->

    <!-- {% if shop.customer_accounts_enabled %}
      <ul>
        {% if customer %}
          <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li>
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      </ul>
    {% endif %} -->

    <!-- <a href="/cart">
      {{ 'layout.cart.title' | t }}
      (<span data-cart-count>{{ cart.item_count }}</span><span class="visually-hidden"> {{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>)
    </a> -->

  </header>

  
</section>



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
